@font-face {
  font-family: "login-icons";
  src: url("https://at.alicdn.com/t/c/font_3968297_9i6uo4kbqed.woff2?t=1681308374826")
      format("woff2"),
    url("https://at.alicdn.com/t/c/font_3968297_9i6uo4kbqed.woff?t=1681308374826")
      format("woff"),
    url("https://at.alicdn.com/t/c/font_3968297_9i6uo4kbqed.ttf?t=1681308374826")
      format("truetype");
}

.icon {
  font-family: "login-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e7ae";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-eye-close:before {
  content: "\e8c0";
}

.icon-clipboard:before {
  content: "\e6bd";
}

.icon-wechat:before {
  content: "\e605";
}

.icon-qq:before {
  content: "\e692";
}

.icon-alipay:before {
  content: "\e672";
}

.icon-signal:before {
  content: "\e92f";
}

.icon-wifi:before {
  content: "\e667";
}

.icon-battery:before {
  content: "\e60d";
}

.icon-back:before {
  content: "\e60e";
}

.icon-search:before {
  content: "\e622";
}

.icon-add:before {
  content: "\e767";
}

.icon-trash:before {
  content: "\e7c4";
}

.icon-save:before {
  content: "\e600";
} 